<p id="notice"><%= notice %></p>

<h1>Activities</h1>

<table>
  <thead>
    <tr>
      <th>Activity</th>
      <th>Distance</th>
      <th>Moving</th>
      <th>Stopped</th>
      <th>Speed</th>
      <th>Watts</th>
      <th>Calories</th>
      <th>Kj</th>
      <th>Location</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @activities.each do |activity| %>
      <tr>
        <td><%= Time.at(activity.start_ts).strftime("%a %m/%e %l %P") %></td>
        <td><%= "%5.1f"%activity.distance %></td>
        <td><%= "#{activity.moving/60}" %></td>
        <td><%= activity.stopped/60 %></td>
        <td><%= "%5.1f"%activity.speed %></td>
        <td><%= "%5.1f"%activity.watts %></td>
        <td><%= "%5.1f"%activity.calories %></td>
        <td><%= "%5.1f"%activity.kj %></td>
        <td><%= activity.location %></td>
        <td><%= link_to 'Show', activity %></td>
        <td><%= link_to 'Edit', edit_activity_path(activity) %></td>
        <td><%= link_to 'Destroy', activity, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Activity', new_activity_path %>
